In [1]:
import pandas as pd

In [6]:
df = pd.read_parquet("data/spx_vol_surface_history_full_data_23.parquet").dropna().reset_index(names="date")
df.head()

,date,ttm_one_month_moneyness_pt_seven,ttm_one_month_moneyness_pt_eightfive,ttm_one_month_moneyness_pt_one,ttm_one_month_moneyness_pt_oneonefive,ttm_one_month_moneyness_pt_onethree,ttm_three_month_moneyness_pt_seven,ttm_three_month_moneyness_pt_eightfive,ttm_three_month_moneyness_pt_one,ttm_three_month_moneyness_pt_oneonefive,...,ttm_one_year_moneyness_pt_onethree,ttm_two_year_moneyness_pt_seven,ttm_two_year_moneyness_pt_eightfive,ttm_two_year_moneyness_pt_one,ttm_two_year_moneyness_pt_oneonefive,ttm_two_year_moneyness_pt_onethree,r_squared,mean_error,mean_absolute_error,observation
0,2000-01-03,6.194064e-02,0.312185,0.204530,0.130964,0.000000e+00,0.260440,0.275718,0.221527,0.168832,...,0.158510,0.266024,0.271155,0.228732,0.205318,0.190285,0.995027,-2.735137e-06,0.001119,114.0
1,2000-01-04,1.363700e-01,0.320018,0.240132,0.144813,5.976089e-17,0.416818,0.300325,0.230710,0.182980,...,0.174714,0.279396,0.281639,0.247485,0.215400,0.192983,0.997879,-1.101140e-06,0.001053,114.0
2,2000-01-05,9.418156e-18,0.342766,0.229619,0.144372,2.613037e-17,0.097694,0.295088,0.234404,0.188767,...,0.173313,0.299431,0.283072,0.246802,0.217927,0.199251,0.998235,-1.896156e-07,0.001036,110.0
3,2000-01-06,1.702120e-16,0.154186,0.186524,0.144133,0.000000e+00,0.038355,0.251156,0.235466,0.164924,...,0.165705,0.254652,0.274596,0.244797,0.213474,0.200466,0.980723,1.295322e-05,0.002518,107.0
4,2000-01-07,7.347157e-01,0.400736,0.205539,0.125236,4.878086e-17,0.393377,0.303629,0.220231,0.170690,...,0.165183,0.294667,0.268464,0.237584,0.212596,0.192267,0.999162,-4.525523e-07,0.001423,128.0

In [7]:
df.loc[5001]

date                                       2019-11-20 00:00:00
ttm_one_month_moneyness_pt_seven                       0.04943
ttm_one_month_moneyness_pt_eightfive                  0.252494
ttm_one_month_moneyness_pt_one                        0.103751
ttm_one_month_moneyness_pt_oneonefive                     -0.0
ttm_one_month_moneyness_pt_onethree                        0.0
ttm_three_month_moneyness_pt_seven                    0.272567
ttm_three_month_moneyness_pt_eightfive                 0.23731
ttm_three_month_moneyness_pt_one                      0.130813
ttm_three_month_moneyness_pt_oneonefive                0.05356
ttm_three_month_moneyness_pt_onethree                      0.0
ttm_six_month_moneyness_pt_seven                      0.280567
ttm_six_month_moneyness_pt_eightfive                  0.228693
ttm_six_month_moneyness_pt_one                        0.147937
ttm_six_month_moneyness_pt_oneonefive                  0.08565
ttm_six_month_moneyness_pt_onethree                   0.235547
ttm_one_year_moneyness_pt_seven                       0.263218
ttm_one_year_moneyness_pt_eightfive                   0.220654
ttm_one_year_moneyness_pt_one                         0.162893
ttm_one_year_moneyness_pt_oneonefive                  0.108767
ttm_one_year_moneyness_pt_onethree                    0.127283
ttm_two_year_moneyness_pt_seven                       0.240454
ttm_two_year_moneyness_pt_eightfive                   0.210587
ttm_two_year_moneyness_pt_one                         0.177785
ttm_two_year_moneyness_pt_oneonefive                  0.141811
ttm_two_year_moneyness_pt_onethree                     0.11569
r_squared                                             0.991545
mean_error                                                 0.0
mean_absolute_error                                   0.003077
observation                                             1546.0
Name: 5001, dtype: object